<!DOCTYPE html>
<html>

<head>

    <title>About Project</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap"
    rel="stylesheet">

</head>

<body>

<nav>

    <div class="logo">
        EnergyPlanner.ai
    </div>

    <ul>

        <li><a href="/">Home</a></li>

        <li><a href="/insights">Productivity Insights</a></li>

        <li><a href="/analysis">AI Analysis</a></li>

        <li><a href="/workflow">Workflow</a></li>

        <li><a href="/about">About</a></li>

    </ul>

</nav>

<section class="section">

    <h1 class="section-title">
        About The Project
    </h1>

    <div class="about-grid">

        <div class="about-card">

            <h3>🎯 Project Objective</h3>

            <br>

            <p>
                To intelligently recommend
                productivity tasks based on
                energy and wellness analysis.
            </p>

        </div>

        <div class="about-card">

            <h3>🧠 AI Concepts Used</h3>

            <br>

            <p>
                Rule-Based Systems,
                Probabilistic Reasoning,
                Intelligent Decision Making.
            </p>

        </div>

        <div class="about-card">

            <h3>💻 Technologies Used</h3>

            <br>

            <p>
                HTML, CSS, JavaScript,
                Python Flask and SQLite.
            </p>

        </div>

        <div class="about-card">

            <h3>🚀 Future Scope</h3>

            <br>

            <p>
                Integration with wearable devices,
                real-time AI recommendations,
                and personalized productivity analytics.
            </p>

        </div>

    </div>

</section>

</body>
</html>