<!DOCTYPE html>
<html>

<head>

    <title>Insights</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap"
    rel="stylesheet">

</head>

<body>

<nav>

    <div class="logo">
        EnergyPlanner.ai
    </div>

    <ul>

        <li><a href="/">Home</a></li>

        <li><a href="/insights">Productivity Insights</a></li>

        <li><a href="/analysis">AI Analysis</a></li>

        <li><a href="/workflow">Workflow</a></li>

        <li><a href="/about">About</a></li>

    </ul>

</nav>

<section class="section">

    <h1 class="section-title">
        Productivity Insights
    </h1>

    <div class="cards">

        <div class="card">

            <h3>⚡ Energy Score</h3>

            <p>
                Your productivity highly depends
                on sleep quality and stress balance.
            </p>

        </div>

        <div class="card">

            <h3>🔥 Burnout Awareness</h3>

            <p>
                Continuous overload reduces
                long-term productivity efficiency.
            </p>

        </div>

        <div class="card">

            <h3>🧠 Mental Wellness</h3>

            <p>
                Emotional balance improves
                intelligent task handling.
            </p>

        </div>

        <div class="card">

            <h3>📈 Smart Planning</h3>

            <p>
                Prioritize tasks based on
                energy instead of only deadlines.
            </p>

        </div>

    </div>

</section>

</body>
</html>