<!DOCTYPE html>
<html>

<head>

    <title>Workflow</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap"
    rel="stylesheet">

</head>

<body>

<nav>

    <div class="logo">
        EnergyPlanner.ai
    </div>

    <ul>

        <li><a href="/">Home</a></li>

        <li><a href="/insights">Productivity Insights</a></li>

        <li><a href="/analysis">AI Analysis</a></li>

        <li><a href="/workflow">Workflow</a></li>

        <li><a href="/about">About</a></li>

    </ul>

</nav>

<section class="section">

    <h1 class="section-title">
        System Workflow
    </h1>

    <div class="workflow">

        <div class="workflow-card">

            User Inputs

        </div>

        <div class="arrow">
            ↓
        </div>

        <div class="workflow-card">

            Rule-Based AI Logic

        </div>

        <div class="arrow">
            ↓
        </div>

        <div class="workflow-card">

            Energy Evaluation

        </div>

        <div class="arrow">
            ↓
        </div>

        <div class="workflow-card">

            Probabilistic Reasoning

        </div>

        <div class="arrow">
            ↓
        </div>

        <div class="workflow-card">

            Task Recommendation

        </div>

        <div class="arrow">
            ↓
        </div>

        <div class="workflow-card">

            Smart Productivity Planning

        </div>

    </div>

</section>

</body>
</html>